.insert-btn
{
    padding: .5em;
	width: auto;
	height: auto;
	border-radius: 2em;
	border-width: .25em;
	border-style: solid;
	display: flex;
	align-self: center;
    background-color: transparent;
    color: white;
    border-color: white;
}

.insert-btn.text {
    margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
	font-size: large;
	text-align: center;
}
