.status.positive
{
    padding: 1%;
	width: auto;
	height: auto ;
	border-radius: 20px;
	border-color: green;
	border-width: 5px;
	border-style: solid;
	display: flex;
	align-self: center;
    color: green;
}

.status.negative
{
    padding: 1%;
	width: auto;
	height: auto ;
	border-radius: 20px;
	border-color: red;
	border-width: 5px;
	border-style: solid;
	display: flex;
	align-self: center;
    color: red;
}

.status.text {
	margin: 0;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: xx-large;
	text-align: center;
}